h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: 400;
  color: #424242;
}

/* Upper Header Section */
.upper-header {
  height: 50px;
  border-bottom: 1px solid #cfcfcf;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.10);
}

.upper-header h3 {
  margin: 17px 0;
}

.upper-header h3 span {
  font-size: 12px;
  color: #999999;
}

.upper-header i {
  margin-top: 16px;
  margin-left: 280px;
}

.social {
  height: 50px;
  border-left: 2px solid #cfcfcf;
  border-right: 2px solid #cfcfcf;
}

ul.social-media {
  margin: 4% 6%;
}

ul.social-media li {
  float: left;
  padding: 0 15px;
  border-right: 1px solid #e3e3e3;
}


ul.social-media li:last-of-type {
  border-right: 0;
}

ul.social-media li a i {
  margin: 0;
  padding: 0;
}

ul.social-media li a {
  color: #999999;
}

ul.social-media li a:hover {
  color: #ff9311;
}
