h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: 400;
  color: #424242;
}

/* Upper Header Section */
.upper-header {
  height: 50px;
  border-bottom: 1px solid #cfcfcf;
}

.upper-header h3 {
  margin: 17px 0;
}

.upper-header h3 span {
  font-size: 12px;
  color: #999999;
}

.upper-header i {
  margin-top: 16px;
  margin-left: 290px;
}